<h3><%= @brand.name() %></h3>
<h3>Select another store selling these kinds of shoes:</h3>

    <% if @stores.any?() %>
    <form action='/brands/<%= @brand.id() %>' method ='post'>
      <% @stores.each() do |store| %>
        <div class="store-checkbox">
          <input type='checkbox' name='brand_ids[]' value='<%= store.id() %>' id="store-<%= store.id %>">
          <label for="store-<%= store.id %>"><%= store.name  %></label>
        </div>
      <% end %>
      <button type='submit'> Add Stores </button>
    </form>
    <% end %>

  <% if @brand.stores().any?() %>
  <h3>Here are all the stores currently carrying this kind of shoe:</h3>

  <ul>
    <% @brand.stores().each() do |store| %>
      <li><%= store.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no shoe stores yet!</p>
<% end %>



<a href ='/stores'>Click here to add a new store </a>
<br>

<a href="/">Return to Main Page</a>
